

<!DOCTYPE html>


	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="index.html">User</a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><%= link_to 'Dormitory', halls_path %></li>
					<li><%= link_to 'Room', rooms_path %></li>
					<li class="fh5co-active"><%= link_to 'User', users_path %></li>
					<li><%= link_to 'Rent', rents_path %></li>
					<li><%= link_to 'Bill', bills_path %></li>
					<li><%= link_to 'List', bill_lists_path %></li>
				</ul>
			</nav>
		</aside>

	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">User</h2>
				<%= link_to 'เพิ่มผู้ใช้', new_user_path, class:"btn btn-outline-success" %>
          <p id="notice"><%= notice %></p>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>User fname</th>
              <th>User lname</th>
              <th>User address</th>
              <th>User tel</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @user.each do |user| %>
              <tr>
                <td><%= user.user_fname %></td>
                <td><%= user.user_lname %></td>
                <td><%= user.user_address %></td>
                <td><%= user.user_tel %></td>
                <td><%= link_to 'Show', user, class:"btn btn-outline-info"  %></td>
                <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-outline-warning"  %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger"  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Back', rooms_path , class: "btn btn-primary"%>
			</div>
		</div>
	</div>
             
	</body>
</html>










