
<!DOCTYPE html>

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo">List</h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><%= link_to 'Dormitory', halls_path %></li>
					<li><%= link_to 'Room', rooms_path %></li>
					<li><%= link_to 'User', users_path %></li>
					<li><%= link_to 'Rent', rents_path %></li>
					<li><%= link_to 'Bill', bills_path %></li>
					<li class="fh5co-active"><%= link_to 'List', bill_lists_path %></li>
					<li><%= link_to 'More List', more_lists_path %></li>
				</ul>
			</nav>
		</aside>

	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">List</h2>
				<%= link_to 'เพิ่มรายการ', new_bill_list_path, class:"btn btn-outline-success" %>
          <p id="notice"><%= notice %></p>
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>ชื่อรายการ</th>
                <th>ราคาต่อหน่วย</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @bill_lists.each do |bill_list| %>
				
                <tr>
                  <td><%= bill_list.list_typeName %></td>
                  <td><%= bill_list.unit_price %></td>
                  <td><%= link_to 'Edit', edit_bill_list_path(bill_list), class:"btn btn-outline-warning" %></td>
                  <td>
				  	<% if bill_list.list_typeName != "ค่าไฟ" && bill_list.list_typeName != "ค่าน้ำ" %>
				 		 <%= link_to 'Destroy', bill_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
					<% end %> 
				  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
         <br>
			</div>
		</div>
	</div>
             

	</body>
</html>










