<%= form_with(model: rent, local: true) do |form| %>
  <% if rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent.errors.count, "error") %> prohibited this rent from being saved:</h2>
      <ul>
      <% rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class: 'table'>
<tr>
  <td>
  <%= form.label :Room_id %>
  <%= form.collection_select :room_id, Room.check_room_user_relation, :id, :room_num, class: 'form-control', id: 'room-select' %>
  </td>
</tr>

<tr>
  <td>
  <%= form.label :User_id %>
  <%= form.collection_select :user_id, @rent.user_id_to_select_option, :last, :first, {class: 'form-control', multiple: true} %>
  </td>
</tr>
<tr>
  <td>
    <%= form.label :rent_start %>
    <%= form.date_select :rent_start, id: :rent_start, class: 'form-control'  %>
  </td>
</tr>
<tr>
  <td>
  <%= form.label :rent_end %>
  <%= form.date_select :rent_end, id: :rent_end, class: 'form-control'  %>
  </td>
</tr>
</table>

  <div class="actions">
    <%= form.submit "Confirm" , class: "btn btn-primary" %>
  </div>
<% end %>
