


<!DOCTYPE html>


	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo">Rent</h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><%= link_to 'Dormitory', halls_path %></li>
					<li><%= link_to 'Room', rooms_path %></li>
					<li><%= link_to 'User', users_path %></li>
					<li class="fh5co-active"><%= link_to 'Rent', rents_path %></li>
					<li><%= link_to 'Bill', bills_path %></li>
					<li><%= link_to 'List', bill_lists_path %></li>
          <li><%= link_to 'More List', more_lists_path %></li>
				</ul>
			</nav>

		</aside>

	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Rent</h2>
				<%= link_to 'เพิ่มการเช่า', new_rent_path, class:"btn btn-outline-success" %>
        <%= link_to 'ประวัติ', rent_logs_path , class:"btn btn-outline-success" %>  
         <p id="notice"><%= notice %></p>
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Hall</th>
              <th>Room</th>
              <th>User</th>
              <th>Rent start</th>
              <th>Rent end</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @rent.includes(:room, :user).order("rooms.room_num ASC").each do |rent| %>
              <tr>
                <td><%= rent.room.hall.hall_name %></td>
                <td><%= rent.room.room_num %></td>
                <td><%= rent.user.user_fname %></td>
                <td><%= rent.rent_start %></td>
                <td><%= rent.rent_end %></td>
                <td><%= rent.rent_history %></td>
                <td><%= button_to 'แก้ไข', edit_rent_path(rent), class: 'btn btn-outline-warning' %></td>
                <td><%= button_to 'ลบ', rent, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
         <br>
			</div>
		</div>
	</div>
          
	</body>
</html>










