<%= form_with(model: @bill, id: 'bill-form', remote: true) do |form| %>
    <% if @bill.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
        <ul>
        <% @bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    <div class="field">
        <label for="form-select">เลือกแบบฟอร์มใบเสร็จ </label>
        <%= form.select :form_select, options_for_select([["ใบแจ้งค่าบริการห้องพัก", "form1"], ["ใบเสร็จรับเงินค่าเช่าห้องพัก", "form2"], ["ใบเสร็จรับเงินค่ามัดจำห้องพัก", "form3"], ["ใบแจ้งคืนค่าบริการห้องพัก", "form4"]], selected: @bill.form_select),{}, id: 'form_select'  %>
      <br><br>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= form.label :หมายเลขห้อง %>
              <%= form.collection_select :room_id, Room.all, :id, "room_name", { prompt: "เลือกห้อง" }, { id: "room-select" } %>
            </td>        
           </tr>
          <tr>
            <td>
              <%= form.label :วันที่ออกบิล %>
              <%= form.date_select :bill_date, id: :bill_date , class:"form-control" %>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :หมายเหตุ %>
              <%= form.text_field :bill_remark, id: :bill_remark %>
            </td>
            </tr>
        </tbody>
      </table>
      <div class="actions">
      <%= form.submit "ยืนยัน", class: 'btn btn-primary', id: 'ss_form'%>
      <%= link_to 'กลับ', bills_path , class: "btn btn-primary"%>
      </div>
    <% end %>
  