<%= form_with(model: @bill, url: bills_path, id: 'bill-form', remote: true) do |form| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <table class="table">
     <thead> <h3>ใบเสร็จรับเงินมัดจำหอพัก</h3> </thead>
          <tbody>
            
              <tr>
                <td>
                  <%= form.label :หมายเลขห้อง %>
                </td>
                <td>
                  <%= form.collection_select :rent_id, Room.all, :id, :room_num , class:"form-control" %>
                </td>
              </tr>
           
            <% if @bill && @bill.room_id && @bill.room.hall %>
              <tr>
                <td>
                  <h3><%= form.label :ใบแจ้งค่าบริการห้องพัก %></h3>
                </td>
                <td>
                  <%= @bill.room.hall.hall_address %>
                </td>
              </tr>
            <% end %>
              <tr>
                <td>
                  <%= form.label :ชื่อผู้เช่า %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :ที่อยู่ %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :เบอร์โทร %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :วันที่ %>
                </td>
                <td>
                  <%= form.date_select :bill_date, id: :bill_bill_date , class:"form-control" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :เลขที่บิล %> 
                </td>
                <td>
                  <%= form.text_field :bill_no, id: :bill_bill_no %>
                </td>
              </tr>
               <tr>
                <td>
                  <%= form.label :รายการ%> 
                </td>
                <td>
                  <%= form.collection_select :bill_list_id, BillList.all, :id, :list_typeName, class:"form-control" %>
                  <%= form.date_select :bill_date, id: :bill_bill_date , class:"form-control" %>
                  <%= form.submit "+", id: 'clone_list' %>
                </td>
              </tr>
            <% if @bill.bill_list.present? %>
              <tr>
                <td>
                  <%= form.label :unit_price %>
                </td>
                <td>
                  <%= bill.bill_list.unit_price %>
                </td>
              </tr>
             <% end %> 
              <tr>
                <td>
                  <%= form.label :หน่วยเดิม  %>
                </td>
                <td>
                  <%= form.text_field :old_unit, id: :old_unit %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :หน่วยใหม่ %>
                </td>
                <td>
                  <%= form.text_field :new_unit, id: :new_unit %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :รวม %>
                </td>
                <td>
                  <%= form.text_field :bill_total, id: :bill_bill_total %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= form.label :หมายเหตุ %>
                </td>
                <td>
                  <%= form.text_field :bill_remark, id: :bill_bill_remark %>
                </td>
              </tr>
          </tbody>
  </table>
    <div class="actions">
      <%= form.submit "สร้างบิล", class: 'btn btn-primary'%>
    </div>

<% end %>


