<div class="nested-fields">
  <table>
    <tr>
      <td>
        <%= link_to_remove_association "ลบรายการ", f, class: 'btn btn-danger' %>
      </td>

      <td class="two_r">
      <%= f.label :"สถานะ"%>
      <%= f.select :two_r, options_for_select([ ['คืน', 'form1'],['หัก', 'form2']],f.object.two_r), {}, class: 'two_rs' %>
    </td>

      <td>
      <%= f.select :bill_list_id, options_for_select(BillList.all.map {|p| [p.bill_list_price, p.id, {'data-unit-price' => p.unit_price }]},f.object.bill_list_id),{},  prompt: "กรุณาเลือกรายการ", data: { id: f.object.id } , class: 'bill_list'  %>
      </td>
   
      <td class="old_unit">
        <%= f.label :หน่วยเดิม %>
        <%= f.number_field :old_unit, class: 'old_unit', step: 'any' %>
      </td>
      <td class="new_unit">
        <%= f.label :หน่วยใหม่ %>
        <%= f.number_field :new_unit, class: 'new_unit', step: 'any' %>
      </td>
      <td class="e_price">
        <%= f.label :หน่วยที่ใช้จริง %>
        <%= f.number_field :e_price, class: 'e_price', step: 'any' %>
      </td>
      <td class="amount">
        <%= f.label :จำนวน %>
        <%= f.number_field :amount, class: 'amount', step: 'any' %>
      </td>
      
      <td>
        <%= f.label :รวม %>
        <%= f.number_field :head_total, class: 'head_total', step: 'any' %>
      </td>
    </tr>
  </table>
</div>
