
<!DOCTYPE html>

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="index.html">Bill</a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><%= link_to 'Dormitory', halls_path %></li>
					<li><%= link_to 'Room', rooms_path %></li>
					<li><%= link_to 'User', users_path %></li>
					<li><%= link_to 'Rent', rents_path %></li>
          <li class="fh5co-active"><%= link_to 'Bill', bills_path %></li>
          <li><%= link_to 'List', bill_lists_path %></li>
				</ul>
			</nav>
		</aside>

	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">แก้ไขข้อมูล</h2>
      <%= form_with(model: @bill, url: bill_path(@bill), local: true, method: :patch) do |form| %>
        <p id="notice"><%= notice %></p>
        <table>
        <tr>
          <td>
            <%= form_with(model: @bill, local: true) do |form| %>
              <%= form.label :รายการ %>
              <button type="button" class="add-list">เพิ่มรายการ</button>
              <div id="bill-lists">
                <div class="bill-list">
                  <%= form.collection_select :bill_list_id, BillList.all, :id, :list_typeName, { prompt: "เลือกรายการ" }, class: 'bill_list' %>
                  <button type="button" class="remove-list">ลบ</button>
                </div>
              </div>                 
            <% end %>
          </td>
          </tr>    
          <tr>
          <td>
            <div id="e_form">
              <%= form.label :ค่าไฟหน่วยเดิม  %>
              <%= form.text_field :old_unit, id: :old_unit , class: 'form-control'%>
              <%= form.label :ค่าไฟหน่วยใหม่ %>
              <%= form.text_field :new_unit, id: :new_unit, class: 'form-control' %>
              <%= form.label :หน่วยที่ใช้ไป %>
              <%= form.text_field :e_price, id: :e_price, readonly: true , class: 'form-control'%>
            </div>
          </td>
          </tr>
          <tr>
          <td>
            <div id="w_form">
              <%= form.label :ค่าน้ำxจำนวนคน %>
              <%= form.text_field :w_price, id: :w_price, class: 'form-control'%>
            </div>
          </td>
          </tr>
          
      </table>
      <%= render 'form', bill: @bill %>
     <% end %> 
			</div>
		</div>
	</div>

	</body>
</html>


