<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div id="fh5co-page">
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
			<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
				<h1 id="fh5co-logo">Bill</h1>
				<nav id="fh5co-main-menu" role="navigation">
					<ul>
						<li><%= link_to 'Dormitory', halls_path %></li>
						<li><%= link_to 'Room', rooms_path %></li>
						<li><%= link_to 'User', users_path %></li>
						<li><%= link_to 'Rent', rents_path %></li>
						<li  class="fh5co-active"><%= link_to 'Bill', bills_path %></li>
						<li><%= link_to 'List', bill_lists_path %></li>
						<li><%= link_to 'More List', more_lists_path %></li>
					</ul>
				</nav>
			</aside>
			<div id="fh5co-main">
				<div class="fh5co-narrow-content">
					<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Bill</h2>
					<%= link_to 'เพิ่มบิล', new_bill_path, class: "btn btn-outline-success" %>
					<%= link_to 'DowloadExel', export_exel_path, class: "btn btn-outline-success" %>
					<p id="notice"><%= notice %></p>
					<div class="filter">
					<%= form_tag({ controller: 'bills', action: 'index' }, method: :get) do %>
						<div class="form-group">
						  <label for="hall_id">ชื่อหอพัก:</label>
						  <%= select_tag :hall_id, options_from_collection_for_select(@halls, :id, :hall_name, @selected_hall_id), prompt: "ทั้งหมด", class: "form-control" %>
						</div>
						<div class="form-group">
						<label for="form_select">ประเภทบิล:</label>
						<%= select_tag :form_select, options_for_select(Bill.distinct.pluck(:form_select).map { |form_select| [Bill.new(form_select: form_select).form_select_text, form_select] }, @selected_form_select), prompt: "ทั้งหมด", class: "form-control" %>
						</div>
						<div class="form-group">
						  <label for="bill_date">วันที่:</label>
						  <%= date_field_tag :bill_date, @selected_bill_date, class: "form-control", style: "width: 200px;" %>
						</div>
						<button type="submit" class="btn btn-primary">ค้นหา</button>
					  <% end %>
					  
					  <% @bills.sort_by { |bill| bill.room&.room_num.to_i }.each do |bill| %>
						<% if ((@selected_form_select.present? && bill.form_select == @selected_form_select) || @selected_form_select.blank?) && ((@selected_hall_id.present? && bill.room&.hall_id == @selected_hall_id.to_i) || @selected_hall_id.blank?) && ((@selected_bill_date.present? && bill.bill_date.to_date == @selected_bill_date.to_date) || @selected_bill_date.blank?) %>
						<% unless @current_form_select_text == bill.form_select_text %>
						<% if @current_form_select_text.present? %>
							</tbody>
							</table>
						<% end %>
						<% @current_form_select_text = bill.form_select_text %>
						<h2><%= @current_form_select_text %></h2>
						<table class="table table-dark table-hover">
							<thead>
							<tr>
								<th>วันที่</th>
								<th>หอพัก</th>
								<th>ห้อง</th>
								<th>ประเภทบิล</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<% if bill.form_select_text == 'ใบแจ้งค่าบริการห้องพัก' %>
								<th></th>
								<% end %>
							</tr>
							</thead>
							<tbody>
						<% end %>
						<tr> 
						<td><%= bill.bill_date %></td>
						<td><%= bill.room&.hall.hall_name %></td>
						<td><%= bill.room&.room_num %></td>
						<td><%= bill.form_select_text %></td>
						<% if bill.form_select_text == 'ใบแจ้งค่าบริการห้องพัก' %>
						<td><%= link_to 'ออกใบเสร็จ', clone_bill_path(bill), method: :post, class: 'btn btn-primary' %></td>
						<% end %>
						<td><%= link_to 'ดูตัวอย่าง', preview_bill_path(bill), class: "btn btn-primary", target: "_blank" %></td>
						<td><%= link_to 'ดาวน์โหลด', download_bill_path(bill), class: "btn btn-primary", target: "_blank" %></td>
						<td><%= link_to 'แก้ไข', edit_bill_path(bill), class: "btn btn-outline-warning" %></td>
						<td><%= button_to 'ลบ', bill, method: :delete, data: { confirm: 'คุณแน่ใจหรือไม่?' }, class: "btn btn-outline-danger" %></td>
						
						</tr>
					<% end %>
					<% end %>


					<br>
				</div>
			</div>
		</div>
	</body>
</html>
