
<%= form_with(model: room, local: true, class:"row g-3") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row g-3 align-items-center">
  <div class="mb-3">
  <%= form.label :Hall_id, class:"form-label" %>
  <%= form.collection_select :hall_id, Hall.all, :id, :hall_name, class:"form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :room_num, class:"form-label" %>
    <%= form.text_field :room_num, id: :room_num, class:"form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :User_id, class:"form-label" %>
    <%= form.collection_select :user_id, User.all, :id, :user_fname, class:"form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :room_status, class:"form-label" %>
  <%= form.radio_button :room_status, true, id: :room_status_empty %>
  <%= form.label :room_status_empty, 'Empty', class:"visually-hidden" %>
  <%= form.radio_button :room_status, false, id: :room_status_occupied %>
  <%= form.label :room_status_occupied, 'Occupied', class:"visually-hidden" %>
  </div>

  <div class="actions">
    <%= form.submit  "Create Room", class: "btn btn-primary" %>
  </div>
</div>
<% end %>

