
<%= form_with(model: room, local: true, class:"row g-3") do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
						<thead></thead>
						<tbody>
							<tr>
								<td><%= form.label :Hall_id, class:"form-label" %></td>
								<td><%= form.collection_select :hall_id, Hall.all, :id, :hall_name, class:"form-control" %></td>
							</tr>
              <tr>
								<td><%= form.label :room_num, class:"form-label" %></td>
								<td><%= form.text_field :room_num, id: :room_num %></td>
							</tr>
						</tbody>
  				</table>
            <div class="actions">
              <%= form.submit  "Confirm", class: "btn btn-primary" %>
            </div>
<% end %>

