
<!DOCTYPE html>


	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo">Room</h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><%= link_to 'Dormitory', halls_path %></li>
					<li class="fh5co-active"><%= link_to 'Room', rooms_path %></li>
					<li><%= link_to 'User', users_path %></li>
					<li><%= link_to 'Rent', rents_path %></li>
                    <li><%= link_to 'Bill', bills_path %></li>
                    <li><%= link_to 'List', bill_lists_path %></li>

				</ul>
			</nav>
		</aside>

	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">แก้ไขข้อมูล</h2>
				


<%= form_with(model: @room, local: true) do |form| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <p id="notice"><%= notice %></p>

        <table class="table">

			<tbody>
				<tr>
					<td><%= form.label :หอพัก, class:"form-label" %></td>
					<td><%= form.collection_select :hall_id, Hall.all, :id, :hall_name, class:"form-control" %></td>
				</tr>
            	<tr>
					<td><%= form.label :เลขห้อง, class:"form-label" %></td>
					<td><%= form.text_field :room_num, id: :room_num , class: 'form-control' %></td>
				</tr>
            	<tr>
 				 <td><%= form.label :ผู้เช่าในห้อง, class: "form-label" %></td>
				<td>
					<% @room.rents.each do |rent| %>
						<%= rent.user.user_fname %><br>
					<% end %>
				</td>
				</tr>
			</tbody>

  		</table>

            <div class="actions">
              <%= form.submit  "Confirm", class: "btn btn-primary" %>
            </div>

        	<%= link_to 'Back', rooms_path , class: "btn btn-primary" %>

			</div>
		</div>
	</div>
             

	</body>
</html>
<% end %>
